include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/personal_database_population *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/personal_database_population/migration *.ini *.py *.mako
